<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css">
    <!--    <link rel="stylesheet" href="/css/myStyle.css">-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>

    <script src="/js/bstable.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/modulscript.js"></script>
</head>

<header class="container">
    <div class="row">
        <div class="col">Подробная информация</div>

    </div>
</header>
<section class="container">
    <div >
        <table class='table table-bordered table-striped' id='mytable'>
            <thead class="thead-dark">
            <tr>
                <th>Data</th>
                <th>Tool</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody id="table-block">

            </tbody>
        </table>

    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Моё модальное окно</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="content"></p>
                <form action="/info/add" class=method="get">
                    <div class="form-group">
                        <label for="tool"><b>Tool</b></label>
                        <input class="form-input" type="text" placeholder="Enter tool" id="tool" name="tool" required/>
                    </div>
                    <div class="form-group">
                        <label for="data"><b>Data</b></label>
                        <input class="form-input" type="date" placeholder="Enter data" id="data" name="data" required/>
                    </div>
                    <div class="form-group">
                        <label for="price"><b>Price</b></label>
                        <input class="form-input" type="number" placeholder="Enter price" id="price" name="price"
                               required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modulID">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Добавление информации
            </button>
        </div>
    </div>
</div>
</div>

<section class="container">
    <div class="row">

        <canvas id="graphic-block" width="450" height="170"></canvas>

    </div>
</section>
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Внимание ! Внимание!</h4>
            </div>
            <div class="modal-body">
               Вы действительно хотите удалить эту информацию!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="del">Удалить</button>
            </div>
        </div>
    </div>
</div>

</html>